* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    max-height: 100px;
    top: 20px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    flex: 1;
}

.logo img {
    scale: 60%;
}

.bar {
    display: flex;
    justify-content: center;
    gap: 7vw;
}

.bar h1 a {
    text-decoration: none;
    color: white;
    background-color: rgb(57, 222, 255);
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 0.9em;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.login img {
    scale: 15%;
}

.loginlijn {
    position: relative;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-top: 250px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.slideshow-container {
    width: 100vw;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mySlides {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../vliegWebsite/VliegWebsite/assets/img/slideshow1.png");
    background-image: url("../vliegWebsite/VliegWebsite/assets/img/slideshow2.png");
    background-image: url("../vliegWebsite/VliegWebsite/assets/img/slideshow3.jpeg");
}

.fade {
    animation-duration: 10s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: #ccc solid 1px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(40, 187, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

form label {
    display: block;
}

form input[type="text"],
form input[type="number"],
input[type="password"],
input[type="email"],
form input[type="date"],
form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: #ccc solid 1px;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: aqua;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

p {
    padding: 10px 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 10px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.overlay {
    position: relative;
    top: 500px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
}

.mooitekst {
    margin-bottom: 60px;
}

.mooitekst p {
    border-radius: 5px;
    background-color: rgb(56, 56, 56, 0.329);
    opacity: 1;
}

.formvliegut {
    background-color: #00c3ff;
    border-radius: 10px;
}

.formvliegut form {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(15%);
}

.formvliegut input,
.formvliegut button {
    margin: 0 5px;
    max-width: 20vw;
    width: calc(33.3% - 10px);
    padding: 10px;
    border: #ccc solid 1px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.formvliegut input[type="date"] {
    width: calc(33.3% - 12px);
}

.formvliegut button {
    width: calc(33.3% - 10px);
    background-color: rgb(40, 187, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formvliegut button:hover {
    background-color: #0056b3;
}

.sale-width {
    display: flex;
    justify-content: center;
}

.sale-box {
    width: 10vw;
    height: 40px;
    background-color: red;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.sale-box h2 {
    margin: 0;
    font-size: 1.2em; 
}
.sale-vlucht {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 800px;
}

.sale-container {
    display: flex;
    width: 80%;
    height: 80%;
}

.sale-left,
.sale-right {
    display: flex;
    flex-direction: column;
}

.sale-left {
    flex: 1;
    margin-right: 40px;
}

.sale-vlucht1,
.sale-vlucht2 {
    position: relative;
    height: 400px;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
    border: #000000 solid 2px;
    border-radius: 5px;
}

.sale-vlucht3 {
    position: relative;
    height: 840px;
    background-size: cover;
    background-position: center;
    border: #000000 solid 2px;
    border-radius: 5px;
}

.sale-vlucht2 {
    margin-bottom: 0;
}

.sale-right {
    flex: 1;
}

.sale-vlucht1 {
    background-image: url("image1.jpg");
}

.sale-vlucht2 {
    background-image: url("image2.jpg");
}

.sale-vlucht3 {
    background-image: url("image3.jpg");
}

.vlucht4-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale-vlucht4 {
    position: relative;
    background-image: url("image4.jpg");
    width: 64vw;
    height: 400px;
    background-size: cover;
    background-position: center;
    border: #000000 solid 2px;
    border-radius: 5px;
}

.rood-doos {
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.naam-vlucht {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.578);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.product-table {
    width: 100%;
     
   
    border-spacing: 20px;
    margin-top: 150px;  
}

.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    width: 100%;
    max-width: 70vw;
    margin-top: 30vh;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.contact-veld {
    margin-bottom: 15px;
}

.contact-veld label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contact-veld input {
    width: 100%;
    padding: 10px;
    border: #ddd solid 1px;
    border-radius: 4px;
    font-size: 16px;
    max-width: 100%;
}

.contact-veld textarea {
    width: 100%;
    padding: 10px;
    border: #ddd solid 1px;
    border-radius: 4px;
    font-size: 16px;
    max-width: 100%;
    min-height: 20vw;
}

.blue-lines {
    width: 100%;
    max-width: 70vw;
}

.blue-line {
    position: relative;
    margin-top: 6vw;
}

.blue-line span {
    display: inline-block;
    background-color: #f4f4f9;
    padding: 0 10px;
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.blue-line::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #00c3ff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.for-vervang {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

#registerform input[type="text"],
#registerform input[type="email"],
#registerform input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: #ccc solid 1px;
    border-radius: 5px;
    font-size: 16px;
}

#registerform button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(40, 187, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: aqua;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
.reis {
    display: flex;
    align-items: center;
    width: 35vw;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reis-foto {
    width: 20vw;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.reis-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reis-naam {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.reis-vertrek {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.reis-prijs {
    font-size: 1.1em;
    color: #007bff;
    margin-bottom: 10px;
}

.reis-form .reis-button {
    padding: 10px;
    border: none;
    background-color: rgb(40, 187, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reis-form .reis-button:hover {
    background-color: #0056b3;
}
.voettekst-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 40px;
}
.voettekst-rij{
    width: 50%;
}
#overOnsContainer{
  
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #46FFFF;
    width: 100%;
    height: 60%;
    border-radius: 15px;
    opacity: 40%;


}
#overOnsSection{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    width: 80vw;
    height: 750px;


}
#aboutUsTitel{
    font-size: 30px;
    position: absolute;
    margin: 20px;
}
#aboutUsText{
    
    position: absolute;
display: flex;
padding: 30px;
align-items: center;
padding-top: 5%;
line-height: 25px;
text-align: center;


}